{% extends 'base.html' %}
<!--{% import 'macros.html' as macro%}-->


<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
{% endblock %}
<!-- Content block -->


<!-- Content block -->
{% block content %}

<div class="container-fluid">
    <div class="row">
      <div class= "col-md-4">
        <div class="shape">


        <img src="images/create.jpg" alt="login image">

</div>
      </div>
      <div class="col-md-8">
     </div>
    </div>
</div>


{% endblock%}