<body>
{% extends 'base.html' %}
<!--{% import 'macros.html' as macro%}-->


<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
{% endblock %}
<!-- Content block -->


<!-- Content block -->
{% block content %}

<div class="container">
    <div class="row">
      <div class= "col-md-6">
        <div class="shape">


        <img src="/static/images/pitch.jpg" alt="login image">

</div>
      </div>
      <div class="col-md-6">
             <h3>Pitch Categories</h3>
      <br>
      <ul >
        <li >
          <a href="/business">Business</a>
        </li>
        <li >
          <a  href="/interview">Interview</a>
        </li>
        <li >
          <a  href="/pickup">Pickupline</a>
        </li>
        <li >
          <a href="/technology">Technology</a>
        </li>
      </ul>




     </div>
    </div>
</div>


{% endblock%}
</body>